@model List<Business.Models.ProjectViewModel>

@{
   
    Layout = "_PortalLayout";
    ViewData["Title"] = "Projects";
}

<div class="project-card-grid">
    @foreach (var project in Model)
    {
        @await Html.PartialAsync("~/Views/Shared/Partials/Components/_CardProject.cshtml", project)
    }
</div>